header.main-header
  h1.main-name
    a(href='#') Administrator  
  ul.main-nav
    li
      a(href='../admin/product') product
    li
      a(href='../admin/campaign.html') campaign
    li
      a(href='#') hots
    li
      a(href='#') security 